<div class="container">

    <div class="row">

        <div class="col-4"></div>
        <div  class="col-4 cuadro" style="margin-top: 90px;">

            <div class="card bg-secondary">
                <div class="header text-center" style="color: white;"><br>
                    <strong>Fallo en el reconocimiento Facial</strong>
                </div>
                <div class="card-body" style="margin-top: 1rem;">
                    <form  (ngSubmit)="obtieneEmail(correo,nombreu)" class="text-center">
                  <!--   <form (ngSubmit)="accesoPassword()" class="text-center" #forma="ngForm"> -->
                        <input class="form-control" type="email" placeholder="Ingrese su nombre completo" #nombreu><br>
                        <input class="form-control" type="email" placeholder="Ingrese su correo" #correo><br>
                        <input class="form-control" type="email" placeholder="Ingrese su dni" #dni><br>
                        <button type="submit" class="btn btn-danger text-center" data-target="#staticBackdrop">Aceptar</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-4"></div>
    </div>
</div>
<!-- Modal -->
<div class="modal" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-video"></i>
          Contraseña de emergencia</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="card text-white mb-3">
          <div class="card-header bg-secondary">Ingrese Contraseña</div>
          <div class="form-group mx-sm-3 mb-2">
            <label  class="mb-2" for="exampleFormControlInput1" style="margin-right: 7rem;" ></label>
            <input type="email" class="form-control-sm mb-2" id="exampleFormControlInput1" placeholder="contraseña" style="margin-top: 10px;"  >
            <!-- <a class="btn btn-primary mb-2 " role="button" target="_blank">Ingresar</a> -->
        </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="Enviar()">Enviar</button>

      </div>
    </div>
  </div>
</div>
