<div class="container">

    <div class="row">

        <div class="col-4"></div>
        <div class="col-4" style="margin-top: 90px;">

            <div class="card bg-secondary">
                <div class="header text-center">
                    Fallo en el reconocimiento Facial
                </div>
                <div class="card-body" style="margin-top: 1rem;">
                    <form  (ngSubmit)="obtieneEmail(correo)" class="text-center">
                  <!--   <form (ngSubmit)="accesoPassword()" class="text-center" #forma="ngForm"> -->
                        <input class="form-control" type="email" placeholder="Ingrese su correo" #correo>
                        <button type="submit" class="btn btn-danger text-center">Aceptar</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="col-4"></div>


    </div>


</div>