<div class="jumbotron fontJumbo col-md-4 offset-md-4 container">
    <h1 class="display-3 center" >Evaluación</h1>
    <hr class="my-4 ;" >
    <p style="text-align: center ">Bienvenido al sistema de deteccion para evaluaciones </p>
    <div class="align-items-center">
      <div class="col">
        <div class="form-group mx-sm-3 mb-2">
            <label  class="mb-2" for="exampleFormControlInput1" style="margin-right: 1rem;" >Codigo de curso</label>
            <input type="email" class="form-control-sm mb-2" id="exampleFormControlInput1" placeholder="" style="margin-right: 1rem;" [(ngModel)]="codigo" >
            <a class="btn btn-primary mb-2 " role="button" (click)="goidentificar()" target="_blank">Ingresar</a>
        </div>
      </div>
    </div>
  </div>
