<div class="d-flex flex-row bd-highlight mb-3 ">
  <app-sidebar varaalumno="texto"></app-sidebar>
  <!-- Lista de alumnos ingresantes -->
  <div class="cold-md-4 tabla">
    <div class="card">
      <div class="card text-white mb-3">
        <div class="card-header bg-secondary ">Alumnos Ingresantes</div>
            <table class="table table-hover reducir">
              <thead>
                <tr>
                  <th scope="col">Imagen</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Dni</th>
                  <th scope="col">Estado</th>
                  <th scope="col">Por clave</th>
                </tr>
              </thead>
              <tbody *ngIf="ingresantesData">
                <!-- <td><div class="images-list" #imagesList ></div></td> -->
                <tr *ngFor="let ingresante of ingresantesData; let i = index" [attr.data-index]="i">
                  <td hidden>{{ingresante.idAlumno}}</td>
                  <td><img class="imagen" [src]="urls +'/'+ ingresante.Foto"></td>
                  <td>{{ingresante.Nombre}}</td>
                  <td>{{ingresante.Apellido}}</td>
                  <td>{{ingresante.dni}}</td>
                  <td>{{ingresante.Estado}}</td>
                  <td><button (click)="estadoxclave(ingresante.idAlumno)" ><i class="fa fa-reply" aria-hidden="true"></i></button></td>
                </tr>
              </tbody>
            </table>
      </div>
    </div>
  </div>
  <!--  -->
</div>
