<div class="d-flex " >
  <!-- Page content wrapper-->
  <app-sidebar></app-sidebar>
    <!-- Page content-->
    <div class="container col-md-4">
      <nav style="text-align:center ;" class="bienvenido">
        <h3>Bienvenido al registro de curso</h3>
      </nav>
      <div class="cold-md-4 container1 " >
        <form >
          <div class="form-row " class="jumbotron">
            <div  class="form-group">
                  <label for="inputCurso">Nombre del curso</label>
                  <input type="text" class="form-control" placeholder="curso" [(ngModel)]="cursoNuevo.Nombre" [ngModelOptions]="{standalone: true}" >
            </div>
            <div class="form-group">
                  <label for="inputCodigo">Codigo</label>
                  <input type="text" class="form-control" placeholder="codigo" [(ngModel)]="cursoNuevo.Codigo" [ngModelOptions]="{standalone: true}">
            </div>
              <div class="form-group">
                    <label for="inputDescripcion">Descripcion</label>
                    <input type="text" class="form-control" placeholder="Descripcion" [(ngModel)]="cursoNuevo.Descripcion" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <label for="inputDescripcion">Clave</label>
                <input type="text" class="form-control" placeholder="Descripcion" [(ngModel)]="cursoNuevo.Clave" [ngModelOptions]="{standalone: true}">
              </div>
              <div >
                  <button type="submit" class="btn btn-primary boton" (click)="goregistro()">Registrar</button>
                    <a class="btn btn-secondary" role="button" (click)="atras()">Cancelar</a>
              </div>
          </div>
        </form>
      </div>
    </div>
</div>
