<div class="jumbotron fontJumbo">
    <h1 class="display-3">Evaluacion</h1>
    <hr class="my-4">
    <p>Bienvenido al sistema de deteccion para evaluaciones </p>
    <div class="row align-items-center">
      <div class="col border-right border-white">

        <div class="mb-3">
            <label for="exampleFormControlInput1">Codigo de curso</label>
            <input type="email" class="form" id="exampleFormControlInput1" placeholder="">
            <a class="btn btn-primary" role="button" (click)="goidentificar()" target="_blank">Ingresar</a>
          </div>
        
      </div>
    </div>  
  </div>