
<!-- sidebar nuevo -->
<div class="container-fluid col-auto px-0">
    <div class="row flex-nowrap" >

        <nav class=" sidebar-nav col-auto  px-sm-4 px-0 bg-gradient-primary"   id="sidenav" >

            <div class=" nav  flex-column  align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class=" nav flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" >
                    <li >
                        <a class="d-flex nav-link px-0 align-middle text-white" (click)="gomenu()">
                            <i class="fa fa-home" style="margin-top: 10px;margin-right: 10px;"></i> <span class="fs-5 d-none d-sm-inline" >Menu</span>
                        </a>
                    </li>
                    <li >
                        <a  class="d-flex nav-link px-0 align-middle text-white " (click)="goPerfil()" *ngIf="!varaalumno">
                            <i class="fas fa-user-cog" style="margin-top: 10px;margin-right: 10px;"></i><span class="fs-5 d-none d-sm-inline">Perfil</span>
                        </a>
                    </li>
                    <li >
                        <a  class="d-flex nav-link px-0 align-middle text-white " (click)="goDatosCurso()" *ngIf="varaalumno">
                            <i class="fas fa-book" style="margin-top: 10px;margin-right: 10px;"></i><span class="fs-5 d-none d-sm-inline">Datos</span>
                        </a>
                    </li>
                    <!-- <hr class="sidebar-divider my-0"> -->

                    <li class="nav-item active">
                        <a class="d-flex nav-link px-0 align-middle text-white" (click)="goRAlumno()" *ngIf="varaalumno">
                            <i class="fa fa-list-alt" style="margin-top: 10px;margin-right: 10px;"></i> <span class="fs-5 d-none d-sm-inline">Registro Alumno</span></a>
                    </li>
                    <li >
                        <a class=" d-flex nav-link px-0 align-middle text-white" (click)="veringresantes()" *ngIf="varaalumno">
                            <i class="fa fa-flag-checkered" style="margin-top: 10px;margin-right: 10px;"></i> <span class="fs-5 d-none d-sm-inline">Ingresantes</span></a>
                    </li>
                    <li >
                        <a class="d-flex nav-link px-0 align-middle text-white"  (click)="salir()">
                            <i class="fa fa-sign-out" style="margin-top: 10px;margin-right: 10px;"></i> <span class="fs-5 d-none d-sm-inline">Salir</span> </a>
                    </li>
                    <hr class="sidebar-divider my-0">
                </ul>
            </div>
        </nav>
    </div>
</div>

