
 
  hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
  }
 
  /* color de sidebar */
  .bg-gradient-primary {
    /* background-color: #007bff; */
    background-image: linear-gradient(180deg, #0676df 10%,   #4447f1 100%);
    background-size: cover;
  }
  /* diseño de letra  menu del docente */
  .sidebar .sidebar-brand {
    height: 4.375rem;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 800;
    padding: 1.5rem 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    z-index: 1;
  }
  
  @media screen and (min-width:1080px) {
    
    .sidebar .nav-item .nav-link {
      display: block;
      width: 100%;
      text-align: left;
      padding: 1rem;
      width: 12rem;
    }
    .sidebar .nav-item .nav-link span {
      font-size: 1.2rem;
      display: inline;
    }
    .sidebar .sidebar-brand .sidebar-brand-icon i {
      font-size: 2rem;
    }
  }
  /* color de letra menu docente */
  .sidebar-dark .sidebar-brand {
    color: #fff;
  }
  
  /* color de letra curso */
  .sidebar-dark .nav-item.active .nav-link {
    color: #fff;
    font-size: 1.2rem;
  }

  