<div class="d-flex">
    <!-- Sidebar-->
    <app-sidebar></app-sidebar>
    <!-- Page content wrapper-->
    <div class="container-fluid">
        <!-- Page content-->
        <div class="container">
            <nav class="navbar">
                <h3>Bienvenido a su menú de docente {{NombreDocente.Nombre}}</h3>
            </nav>

            <div class="container">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800">Curso</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <a class="btn btn-sm btn-primary " role="button" (click)="gocrearCurso()"
                                    target="_blank"><i class="fas fa-plus-circle"></i></a>
                                    <hr>
                        <!-- small box -->
                        <div class="card text-bg-primary mb-3" style="max-width: 16rem;">
                            <div class="card-body">
                                <h5 class="card-title text-center">Matematica</h5>
                            </div>
                            <div class="card-footer text-bg-primary border-success text-right">
                                <a class="btn btn-sm btn-primary " (click)="goRAlumno()" role="button"><i class="fas fa-pencil-square-o"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
