<div class="container">

    <div class="row">

        <div class="cold-md-4 container1">
            
            <div class="card bg-secondary cold-md-4 tamcard" >
                <div class="header text-center" style="margin-top: 10px;">
                    Bienvenido {{this.imgNombre}}
                </div>
                <img src="{{this.imagenUsuario}}" class="img-card-top botonn">
                <div class="card-body" >
                    <form (ngSubmit)="evaluacion()" class="text-center">
                  <!--   <form (ngSubmit)="accesoPassword()" class="text-center" #forma="ngForm"> -->
                        <!-- <input class="form-control" type="password" placeholder="Ingrese su password"> -->
                        <button type="submit" class=" text-center btn btn-danger ">Entrar Evaluacion</button>
                        <!-- <button type="button" class="btn btn-primary text-center"(click)="volver()" style="margin-top: 1rem; margin-left: 2rem;">Volver</button> -->
                    </form>
                </div>
            </div>

        </div>
    </div>


</div>