<!-- Sidebar-->
<div class="d-flex flex-row bd-highlight mb-3">
  <app-sidebar varaalumno="texto"></app-sidebar>
  <div class="container-fluid cold-md-4">
    <h1 style="text-align: center">Registro del Alumno</h1>
    <hr>
    <div style="text-align: center">
      <div class="container">
        <div class="row">
          <!-- Sube las imagenes de los rostros -->
          <div class="col cold-md-6" style="position: relative;">
            <div class="card">
              <div class="card-header bg-secondary cold-md-4" #imageFile>Registro de alumnos</div>
              <div class="card-body">
                <hr style="border-color:azure">
                <form (ngSubmit)="onSubmit()" class="cold-md-4">
                  <div>Ingrese dni alumno</div><input #identificador type="number" name="fot1" id="fot1" [(ngModel)]="dni" >
                  <div class="form-group">
                    <button type="submit" type="button" (click)="getDni(identificador.value!)"
                      class="btn btn-outline-secondary mt-3" data-toggle="modal"
                      data-target="#exampleModal">Registrar</button>
                  </div>
                </form>
              </div>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Consulta alumno</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>Nombre del alumno</p>
                      <p>{{nombre}}</p>
                      <img [src]="urls+'/'+foto" width="100">
                      <p>¿Es el alumno?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                      <button type="button" class="btn btn-primary" (click)="onSubmit()">Save changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  -->
          <!-- Lista de los Rostros Registrados -->
          <div class="col cold-md-2">
            <div class="card">
              <div class="card text-white cold-md-2">
                <div class="card-header bg-secondary ">Alumnos Registrados</div>
                <table class="table table-hover cold-md-2">
                  <thead>
                    <tr>
                      <th scope="col">Imagen</th>
                      <th scope="col">Nombre</th>
                      <th scope="col">Apellido</th>
                      <th scope="col">Acciones</th>
                    </tr>
                  </thead>
                  <tbody *ngIf="alumnosData">
                    <!-- <td><div class="images-list" #imagesList ></div></td> -->
                    <tr *ngFor="let alumno of alumnosData; let i = index" [attr.data-index]="i">
                      <td><img [src]="urls +'/'+ alumno.Foto" width="100" class="zoom"></td>
                      <td>{{alumno.Nombre}}</td>
                      <td>{{alumno.Apellido}}</td>
                      <td><button class="btn btn-danger btn-sm" (click)="eliminar(alumno.idAlumno)"><i
                            class="fa fa-trash"></i> </button></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <!--  -->
        </div>
      </div>

    </div>
  </div>
</div>
